.friendList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.friendListItem {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
}

.friendListItem:not(:last-child) {
  margin-bottom: 20px;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.avatar {
  margin-right: 30px;
}

.name {
  font-size: large;
}

.online {
  composes: status;
  background: green;
}

.offline {
  composes: status;
  background: red;
}
