.transactionHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headList,
.bodyList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headList {
  background: turquoise;
}

.headListItem,
.bodyListItem {
  width: 100px;
  padding: 10px 20px;
  border: 0.5px solid rgb(158, 155, 155);
}
